@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255; /* Color de fondo blanco por defecto */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb)); /* Establecer el color de fondo */
}

header {
  margin-bottom: 180px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
